%h2 Edit Contact
= simple_form_for @contact, url: {action: "update"} do |f|
  = f.input :first_name
  = f.input :last_name
  = f.association :company
  = f.input :position
  = f.input :phone
  = f.input :email
  = f.submit