// Full Name & Photo
.profile-pic
  -if @contact.image?
    = image_tag @contact.image_url(:profile).to_s
  -else
    = image_tag "profile-picture-placeholder.png"
%h2=@contact.full_name

//Position at Company
.contact-info
  %h3
    =@contact.position + ' at '
    =link_to @contact.company.name, :controller => "companies", :action => "show", :id => @contact.company.id
  =link_to 'Edit contact', :action => 'edit', :id => @contact.id, :class => 'button'
  %br
  =link_to 'Delete contact', {:action => 'destroy', :id => @contact.id}, method: :delete, data: { confirm: 'Are you certain you want to delete ' + @contact.full_name + '?' }

  // Contact Info
  %table.table.table-striped
    -if @contact.phone != ""
      %tr
        %td
          %span{:class => 'glyphicon glyphicon-earphone'}
          =@contact.phone

    -if @contact.email != ""
      %tr
        %td
          %span{:class => 'glyphicon glyphicon-envelope'}
          =mail_to @contact.email, @contact.email


//Friendships
%h3=@contact.first_name + ' is friends with:'
- @friendships.each do |f|

  -if f.contact != @contact
    %li
      - if f.contact.image?
        = image_tag f.contact.image_url(:thumb).to_s
      - else
        = image_tag "profile-picture-placeholder.png", :height => '50', :width => '50'
      =link_to f.contact.full_name, :controller => "contacts", :action => "show", :id => f.contact_id

  -if f.friend != @contact
    %li
      - if f.friend.image?
        = image_tag f.friend.image_url(:thumb).to_s
      - else
        = image_tag "profile-picture-placeholder.png", :height => '50', :width => '50'
      =link_to f.friend.full_name, :controller => "contacts", :action => "show", :id => f.friend_id

= link_to '<< Back to index page', :controller => 'home', :action => 'index'