%h2 Add a Company

= error_messages_for(@company)

= form_for @company, url: {action: 'create'}, :html => {:multipart => true } do |f|
  = f.text_field :name
  = f.file_field :image
  = f.submit

= link_to '<< Back to index page', :controller => 'home', :action => 'index'